# project
.idea
tin.cbp

# Build files
**/cmake-build-debug/
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake

# executables
src/core/libcore.a
src/core/core_test
src/sensor/sensor